Flask==1.0.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-RQ==0.2
unicodecsv==0.14.1
diff-match-patch==20121119
short_url==1.2.2
premailer==3.3.0
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
https://github.com/hasgeek/flask-lastuser/archive/master.zip
Flask-Migrate==2.3.1
pystache==0.5.4
