{% extends "twopane.html.jinja2" %}
{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block listpane %}
{#
  <div class="nav-pills-toolbar nav-pills-logo-container">
    <ul class="nav nav-pills nav-pills-bottom-aligned">
      <li class="nav-pills-logo-link"><a href="{{ url_for('dashboard') }}"><div id="logo">{% trans %}Dashboard{% endtrans %}</div></a></li>
    </ul>
  </div>
#}
  <ul class="nav nav-pills nav-stacked nav-pills-filling nav-point-right">
    {%- if mailers %}{% for mailer in mailers %}
      <li><a href="{{ mailer.url_for() }}">{{ mailer.title }}
        {%- if mailer.status == STATUS.DRAFT %} <i class="fa fa-pencil"></i>
        {%- elif mailer.status == STATUS.QUEUED %} <i class="fa fa-clock-o"></i>
        {%- elif mailer.status == STATUS.SENDING %} <i class="fa fa-spin fa-spinner"></i>
        {%- elif mailer.status == STATUS.SENT %} <i class="fa fa-envelope-o"></i>
        {%- endif -%}
      </a></li>
    {% endfor %}{% endif %}
  </ul>
{% endblock %}

{% block contentpane %}
  {%- if mailer %}
    <p>
      {% trans %}Pick a mailer from the sidebar or send a new one.{% endtrans %}
    </p>
  {%- else %}
    <p>
      {% trans %}You haven’t composed a mailer yet.{% endtrans %}
    </p>
  {%- endif %}
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      <button type="submit" class="btn btn-primary">{% trans %}New mailer{% endtrans %}</button>
    </p>
  </form>
{% endblock %}
