{% extends "layout.html.jinja2" %}
{% block titletags -%}
  <title>{% block title %}{% trans %}Hasgeek Mailer{% endtrans %}{% endblock %}</title>
  <meta name="DC.title" content="{{ self.title()|e }}"/>
{%- endblock %}

{% block content %}
  <p>
    {% trans -%}
      Write once, customize for specific recipients, send all. Easiest mail merge ever.
      This is a restricted beta, so you may or may not have access.
    {%- endtrans %}
  </p>
  <p>
    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">{% trans %}Get started{% endtrans %}</a>
  </p>
{% endblock %}
