{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import responsive_networkbar with context %}

{% block networkbar %}{{ responsive_networkbar(siteid=config['SITE_ID'], login=config['LASTUSER_CLIENT_ID'] and true or false) }}{% endblock %}

{% set wstep = wstep or 0 %}

{% block header %}
  <div class="wizard">
    <ul class="steps">
      <li {%- if wstep > 1 %} class="complete" {%- elif wstep == 1 %} class="active" {%- endif %}><a href="{{ url_for('dashboard') }}">Start <span class="chevron"></span></a></li>
      <li {%- if wstep > 2 %} class="complete" {%- elif wstep == 2 %} class="active" {%- endif %}>
        {%- if campaign %}
          <a href="{{ campaign.url_for() }}">Details <span class="chevron"></span></a>
        {%- else %}
          Details <span class="chevron"></span>
        {%- endif -%}
      </li>
      <li {%- if wstep > 3 %} class="complete" {%- elif wstep == 3 %} class="active" {%- endif %}>
        {%- if campaign %}
          <a href="{{ campaign.url_for('recipients') }}">Recipients <span class="chevron"></span></a>
        {%- else %}
          Recipients <span class="chevron"></span>
        {%- endif -%}
      </li>
      <li {%- if wstep > 4 %} class="complete" {%- elif wstep == 4 %} class="active" {%- endif %}>
        {%- if campaign %}
          <a href="{{ campaign.url_for('template') }}">Write <span class="chevron"></span></a>
        {%- else %}
          Write <span class="chevron"></span>
        {%- endif -%}
      </li>
      <li {%- if wstep > 5 %} class="complete" {%- elif wstep == 5 %} class="active" {%- endif %}>
        {%- if campaign %}
          <a href="{{ campaign.url_for('send') }}">Send <span class="chevron"></span></a>
        {%- else %}
          Send <span class="chevron"></span>
        {%- endif -%}
      </li>
      <li {%- if wstep > 6 %} class="complete" {%- elif wstep == 6 %} class="active" {%- endif %}>
        {%- if campaign %}
          <a href="{{ campaign.url_for('report') }}">Report <span class="chevron"></span></a>
        {%- else %}
          Report <span class="chevron"></span>
        {%- endif -%}
      </li>
    </ul>
  </div>
{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      <h1>{{ self.title()|e }}</h1>
    </div>
  {%- endblock %}
{%- endblock %}

{% block basecontent -%}
  {% block content %}{% endblock %}
{%- endblock %}
