{% macro sidebar(campaign, recipients, active=none) %}
  <div class="list-group list-group-discreet {#- nav nav-pills nav-stacked nav-pills-filling nav-point-right -#}">
    <a class="list-group-item {%- if active == 't' %} active{% endif %}" href="{{ campaign.url_for('template') }}">{% trans %}Write email{% endtrans %}</a>
    {%- if recipients %}{% for r in recipients %}
      <a class="list-group-item {%- if active == r %} active{% endif %}" href="{{ r.url_for() }}">{{ r.fullname }}</a>
    {% endfor %}{% endif %}
  </div>
{% endmacro %}
