{% extends "layout.html.jinja2" %}
{% from "baseframe/components.html.jinja2" import flash_messages -%}

{% block main %}
  <div id="fullpane" class="container">
    <div class="row">
      <div id="contentpane" class="pane col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {%- block messages %}{{ flash_messages() }}{% endblock %}
        {%- block headline -%}
          <div class="page-header">
            <h1>{{ self.title() }}</h1>
          </div>
        {%- endblock %}
        {% block contentpane %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
