{% extends "baseframe.html" %}

{% block headerbox %}{% endblock %}

{% block basecontent %}<div id="publicwrapper">{% block content %}{% endblock %}</div>{% endblock %}

{% block footer %}{% endblock %}
