{% extends "panes.html" %}
{% from "macros.html" import sidebar %}
{% block title %}{{ campaign.title }}{% endblock %}

{% block listpane %}
  {{ sidebar(campaign, campaign.recipients, 'r') }}
{% endblock %}

{% block contentpane %}
  {%- if campaign.recipients %}
    Recipient data table comes here
  {%- else %}
    <p>
      You have not specified any recipients. <a href="{{ campaign.url_for('edit') }}">Try again?</a>
      You can also <a href="{{ campaign.url_for('template') }}">write a message now</a> and list the recipients later.
    </p>
  {%- endif %}
{% endblock %}
