{% extends "onepane.html" %}
{% from "macros.html" import sidebar %}
{% block title %}{{ campaign.title }}{% endblock %}

{% block listpane %}
  {{ sidebar(campaign, campaign.recipients, 'r') }}
{% endblock %}

{% block contentpane %}
  {%- if campaign.recipients %}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>fullname</th>
          <th>email</th>
          <th>nickname</th>
          <th>firstname</th>
          <th>lastname</th>
          {%- for field in campaign.fields %}
            <th>{{ field }}</th>
          {% endfor %}
          <th><i class="fa fa-trash-o"></i></th>
        </tr>
      </thead>
      <tbody>
        {%- for r in campaign.recipients %}{% with editurl = r.url_for('edit') %}
        <tr>
          <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="fullname">{{ r.fullname }}</a></td>
          <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="email" data-value="{{ r.email }}">{{ r.email }} {%- if not r.is_email_valid() %} <i class="fa fa-warning"></i>{% endif %}</a></td>
          <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="nickname">{{ r.nickname }}</a></td>
          <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="firstname">{{ r.firstname }}</a></td>
          <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="lastname">{{ r.lastname }}</a></td>
          {%- for field in campaign.fields %}
            <td><a class="editable" href="#" data-type="text" data-url="{{ editurl }}" data-pk="{{ r.url_id }}" data-name="{{ field }}">{{ r.data.get(field) }}</a></td>
          {%- endfor %}
          <td><a data-pk="{{ r.url_id }}" href="{{ r.url_for('delete') }}" class="hidden-until-hover"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        {%- endwith %}{% endfor %}
      </tbody>
    </table>
  {%- else %}
    <p>
      You have not specified any recipients. <a href="{{ campaign.url_for('edit') }}">Try again?</a>
      You can also <a href="{{ campaign.url_for('template') }}">write a message now</a> and list the recipients later.
    </p>
  {%- endif %}
{% endblock %}
