{% extends "twopane.html.jinja2" %}
{% from "macros.html.jinja2" import sidebar, template_form, template_editor %}
{% block title %}{{ recipient.fullname }}: {{ mailer.title }}{% endblock %}

{% block listpane %}
  {{ sidebar(mailer, mailer.recipients, recipient) }}
{% endblock %}

{% block headline %}{% endblock %}

{% block contentpane %}
  {{ template_form(form) }}
{% endblock %}

{% block footerscripts %}
  {{ template_editor() }}
{% endblock %}
