{% extends "twopane.html.jinja2" %}
{% from "macros.html.jinja2" import report_sidebar %}
{% from "baseframe/forms.html.jinja2" import renderform %}
{% block title %}{% trans %}Report:{% endtrans %} {{ mailer.title }}{% endblock %}

{% block listpane %}
  {{ report_sidebar(mailer, recipients, recipient or 't', count) }}
{% endblock %}

{% block contentpane %}
  <p>
    {% trans %}There is no report yet{% endtrans %}
  </p>
{% endblock %}
