{% extends "publicview.html.jinja2" %}
{% block titletags %}<title>{% block title %}RSVP received{% endblock %}</title>{% endblock %}
{%- block content %}
  {%- if status == 'Y' %}
    <h1>{% trans %}Roger that!{% endtrans %}</h1>
    <p>
      {% trans %}We have your confirmation{% endtrans %}
    </p>
  {%- elif status == 'N' %}
    <h1>{% trans %}Awww!{% endtrans %}</h1>
    <p>
      {% trans %}Sorry to hear you can’t make it{% endtrans %}
    </p>
  {%- elif status == 'M' %}
    <h1>{% trans %}Mm’kay{% endtrans %}</h1>
    <p>
      {% trans %}When you know better, could you update your status?{% endtrans %}
    </p>
  {%- else %}
    <h1>{% trans %}Uh oh!{% endtrans %}</h1>
    <p>
      {% trans %}Who are you and how did you get here?{% endtrans %}
    </p>
  {% endif %}
{% endblock %}

{% block footer %}
  {%- if status == 'Y' %}
    {% trans %}Change status?{% endtrans %}
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='N') }}">{% trans %}Not coming{% endtrans %}</a>
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='M') }}">{% trans %}Not sure{% endtrans %}</a>
  {%- elif status == 'N' %}
    {% trans %}Change status?{% endtrans %}
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='Y') }}">{% trans %}I’m coming{% endtrans %}</a>
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='M') }}">{% trans %}Not sure{% endtrans %}</a>
  {%- elif status == 'M' %}
    {% trans %}Change status?{% endtrans %}
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='Y') }}">{% trans %}I’m coming{% endtrans %}</a>
    <a class="btn btn-xs btn-default" href="{{ recipient.url_for('rsvp', status='N') }}">{% trans %}Not coming{% endtrans %}</a>
  {% endif %}
{% endblock %}
