{% extends "twopane.html.jinja2" %}
{% from "macros.html.jinja2" import sidebar, template_form, template_editor %}
{% block title %}{{ campaign.title }}{% endblock %}

{% block listpane %}
  {{ sidebar(campaign, campaign.recipients, 't') }}
{% endblock %}

{% block headline %}{% endblock %}

{% block contentpane %}
  {{ template_form(form) }}
{% endblock %}

{% block footerscripts %}
  {{ template_editor() }}
{% endblock %}
