{% extends "layout.html.jinja2" %}
{% from "baseframe/components.html.jinja2" import flash_messages -%}

{#
{% block headerbox %}
  <header>
    {% block networkbar %}{{ responsive_networkbar(siteid=config['SITE_ID'], login=config['LASTUSER_CLIENT_ID'] and true or false) }}{% endblock %}
  </header>
{% endblock %}
#}

{% block main %}
  <div id="fullpane" class="container">
    <div class="row">
      <div id="contentpane" class="pane col-lg-push-2 col-md-push-2 col-sm-push-3 col-lg-10 col-md-10 col-sm-9 col-xs-12">
        {%- block messages %}{{ flash_messages() }}{% endblock %}
        {%- block headline -%}
          <div class="page-header">
            <h1>{{ self.title() }}</h1>
          </div>
        {%- endblock %}
        {% block contentpane %}{% endblock %}
      </div>
      <div id="listpane" class="pane col-lg-pull-10 col-md-pull-10 col-sm-pull-9 col-lg-2 col-md-2 col-sm-3 col-xs-12 sidebar unpadded">
        {% block listpane %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
