{% extends "layout.html" %}

{% block content %}
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 sidebar">
  	<div class="settings-area">
  		Settings
  	</div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
  	<div class="display-area">
  		<div class="title">Write e-mail</div>
  		<textarea class="content" placeholder="draft mail.." data-ng-model="mail"></textarea>{{ mail }}
  	</div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
  	<div class="display-area">
  		<div class="title">Preview</div>
  		<div class="content">{{ mail }}</div>
  	</div>
  </div>
{% endblock %}
