.wizard {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
  position: relative;
  overflow: hidden;
}
.wizard ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.wizard ul.previous-disabled li.complete {
  cursor: default;
}
.wizard ul.previous-disabled li.complete:hover {
  background: #f3f4f5;
  color: #468847;
  cursor: default;
}
.wizard ul.previous-disabled li.complete:hover .chevron:before {
  border-left-color: #f3f4f5;
}
.wizard ul li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #ededed;
  color: #999999;
  font-size: 16px;
  cursor: default;
}
.wizard ul li a {
  display: block;
  color: #222222;
  margin: 0 -20px 0 -30px;
  padding: 0 20px 0 30px;
}
.wizard ul li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d5d5d5;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}
.wizard ul li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #ededed;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}
.wizard ul li.complete {
  background: #f3f4f5;
  color: #468847;
}
.wizard ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}
.wizard ul li a:hover, .wizard ul li a:focus {
  text-decoration: none;
  background: #e7eff8;
  color: #468847;
}
.wizard ul li a:hover .chevron:before, .wizard ul li a:focus .chevron:before {
  border-left: 14px solid #e7eff8;
}
.wizard ul li.active {
  background: #f1f6fc;
  color: #3a87ad;
}
.wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}
.wizard ul li.active a:hover, .wizard ul li.active a:focus {
  background: #f1f6fc;
  color: #3a87ad;
}
.wizard ul li.active a:hover .chevron:before, .wizard ul li.active a:focus .chevron:before {
  border-left: 14px solid #f1f6fc;
}
.wizard ul li .badge {
  margin-right: 8px;
}
.wizard ul li:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}
.wizard ul li:first-child a {
  margin-left: -20px;
  padding-left: 20px;
}

.step-content .step-pane {
  display: none;
}
.step-content .active {
  display: block;
}
.step-content .active .btn-group .active {
  display: inline-block;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1386841977');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 120px;
  height: 75px;
}

#hg-networkbar.navbar .navbar-brand {
  padding: 0;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1386841977');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 120px;
  height: 75px;
  height: 48px;
  background-position: left center;
  background-size: auto 100%;
  background-repeat: none;
  text-indent: -1000px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('../img/logo@2x.png?1386841968');
    -webkit-background-size: 120px 75px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  #page-header {
    border-bottom: none;
    position: relative;
  }
  #page-header .wizard {
    position: absolute;
    left: 130px;
    bottom: 13px;
  }

  header {
    border-bottom: 1px solid #d5d5d5;
  }

  #fullpane {
    top: 107px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 57px;
  }
  #fullpane > .row {
    height: 100%;
  }
  #fullpane .pane {
    padding-top: 12px;
    height: 100%;
    overflow-y: scroll;
  }
  #fullpane .pane.unpadded {
    padding-top: 0;
  }
  #fullpane .sidebar {
    background-color: whitesmoke;
    border-right: 1px solid #d5d5d5;
  }

  .unpadded {
    padding: 0;
  }

  .list-group-discreet .list-group-item {
    border: none;
    border-radius: 0;
    background-color: inherit;
  }
  .list-group-discreet a.list-group-item:hover, .list-group-discreet a.list-group-item:focus {
    background-color: #eeeeee;
  }
  .list-group-discreet .list-group-item.active, .list-group-discreet .list-group-item.active:hover, .list-group-discreet .list-group-item.active:focus {
    background-color: #428bca;
  }

  .nav-pills-filling > li > a {
    border-radius: 0;
  }

  .nav-pills-toolbar {
    margin-bottom: 12px;
  }

  .nav-pills-logo-container {
    margin-top: -23px;
  }
  .nav-pills-logo-container .nav > li > a {
    padding: 8px 13px;
  }

  .nav-pills-logo-link {
    position: relative;
    bottom: -23px;
  }

  .nav > li.nav-pills-logo-link > a:hover, .nav > li.nav-pills-logo-link > a:focus {
    background-color: inherit;
  }

  .nav-pills-bottom-aligned {
    display: table-cell;
  }
  .nav-pills-bottom-aligned > li {
    display: inline-block;
    float: none;
    vertical-align: bottom;
  }
}
.editable-click, a.editable-click {
  color: inherit;
  border-bottom: 1px solid transparent;
}

#contentpane {
  position: relative;
}

.hidden-until-hover {
  visibility: hidden;
}

tr:hover .hidden-until-hover {
  visibility: visible;
}

.cm-mustache {
  color: #00ccaa;
}

.field-subject {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  height: 38px;
  outline: none;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 1px;
}
.field-subject:focus {
  border-bottom: 2px solid #428bca;
  padding-bottom: 0;
}

#draft .CodeMirror {
  border: 0 !important;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
#draft .CodeMirror pre {
  padding: 0;
}
#draft .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
#draft .CodeMirror-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
